body{
    background: url("../image/aaaa4.jfif");
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 -460px;
    position: relative;
    z-index: -1;
}
body::after{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    content: "";
    z-index: -1;
    background-color: #000000a1;
}
#counter{
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffc107;
    bottom: 35px;
    left: 35px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    visibility: hidden;
}
#down{
    position: fixed;
    width: 20px;
    height: 20px;
    left: 40px;
    bottom: 11px;
    text-align: center;
    color: #ffc107;
    visibility: hidden;
    cursor: pointer;
}
.box{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-around;
}
@media (max-width:678px) {
    .box{
        width: 40%;
    }
}
